table {
  padding: 3%;
  border: 2px solid #e7e7e7;
  background-color: red;
}

thead {
  color: #bfc0c0;
  background-color: #343844;
  align-items: left;
}

table-hover:hover {
  background: black;
}

.calcTable, .table-responsive {
  border: none;
}

.subnet-form {
  width: 50%;
  margin-bottom: 10px;
}
